html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    width: 50%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.user-tag {
    color: #aaa;
}

.time {
    color: #aaa;
    float: right;
}

.post > .content {
    padding-left: 10px;
    word-wrap: normal;
    flex: 1;
}

p {
    margin: 0px;
    padding: 0px;
}

#newPost {
    border: 2px solid black;
    padding: 10px;
    width: 50%;
    margin-bottom: 10px; 
}